*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    line-height: 1.4;
    position: relative;
    color: #252525;
    min-height: 100dvh;
    overflow-x: hidden;
    font-family: "Inter", system-ui, sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --gray: #f1f0f6;
    --dark-gray: #717171;
    --light: #ffffff;
    --dark: #252525;
    --green: #068660;
    --light-green: #E3ffcb;
    --blue: #094fb6;
    --light-blue: #E3F2FD;
    --dark-blue: #0c5fcd;
    --red: #d73248;
    --hoverLink: #ffcb05;
    --title: #252525;
    --background: #0E2E50;
    --body-color: #e0e3eb;
    --pending-color: #9d6600;
    --shadow: 0 .2rem .7rem rgba(101, 79, 239, 0.10);
    --main-color: #730086;
    --main-hover-bg-color: #ffcb05;
    --main-hover-color: #252525;
    --main-white-color: #ffffff;

}

.hidden_text {
    display: none;
}

.spinner-border {
    width: 20px;
    height: 20px;
}

.feedback_counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mb-60 {
    margin-bottom: 100px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-65 {
    padding-top: 118px;
}

.fa-star {
    color: #ffa800;
}

figure {
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.5;
}

.second_title {
    font-size: 1.66rem;
    font-weight: 600;
    color: #252525;
    text-transform: capitalize;
}

.head_title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #252525;
    text-transform: capitalize;
}

.medium__title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #252525;
    text-transform: capitalize;
}

.third_title {
    font-size: 1.1rem;
    font-weight: 800;
    color: #252525;
    text-transform: capitalize;
}
img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.5;
    margin: 0;
}
.help-text {
    font-size: 0.75rem;
    font-weight: 600;
    color: #dc3545;
    white-space: normal;
    display: flex;
    margin: 0.25rem;
    line-height: 1.66;
}

.characters {
    color: #654fef;
    margin: 5px;
    font-size: 0.8rem;
}

.button {
    gap: 0.425rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
    padding: 15px 18px;
    font-size: 0.85rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: var(--main-color);
    line-height: normal;
}

.button:hover {
    background-color: var(--main-hover-bg-color);
    color: var(--main-hover-color);
    border: 0.025rem solid var(--main-color);
}

.button:focus {
    box-shadow: none;
    color: var(--main-white-color);

}

.button:active {
    color: var(--main-white-color) !important;
}

.button.rounded,
.button.link,
.border_btn {
    color: var(--main-color);
    outline: 0;
    transition: all 300ms ease-in-out 0s;
    border: .08rem solid var(--main-color);
    letter-spacing: 0.2px;
    padding: 15px 18px;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #FFFFFF;
}

.button.rounded:hover,
.button.link:hover,
.border_btn:hover {

    background-color: hsl(263 91% 92% / 1);
    /*color: #FFFFFF;*/
    border: .08rem solid var(--main-color);
    text-decoration: underline;
}

.button.rounded:focus,
.button.link:focus,
.border_btn:focus {
    box-shadow: none;
    color: var(--main-color);
}

.button.rounded:active,
.button.link:active,
.border_btn:active {
    box-shadow: none;
    color: var(--main-color) !important;
}

.icon_button {
    padding: 0 16px !important;
}

a.small_button,
button.small_button {
    padding: 10px !important;
    font-size: .8rem !important;
}

.icon_button .btn_label {
    position: relative;
    left: 16px;
    display: inline-block;
    padding: 18px 20px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0 0.25rem 0.25rem 0;
}

.icon_button.w_100 {
    position: relative;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px 0 10px !important;

}

.icon_button.w_100 .btn_label {
    position: absolute;
    right: 0;
    left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 0 0.25rem 0.25rem 0;
}

.icon_button.w_100 .btn_label.btn_primary,
.icon_button .btn_label.btn_primary {
    background-color: hsl(271.03deg 97.48% 53.33% / 8%);
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #212529;
    font-size: 0.9rem;
}

label i {
    margin-right: 3px;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.9rem 2.25rem 0.9rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background-image: url(../../images/down_arrow.svg);*/
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.9rem 2.25rem 0.9rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control::placeholder {
    color: #212529;
    opacity: 0.5;
    font-size: 0.85rem;
}
.help_button_box{
 display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.dashboard_section_header
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #ffffff;
    padding: .5rem;
    border-radius: 0.5rem;
    border: 0.05rem solid hsl(162.19deg 91.43% 27.45% / 30%);
    margin-bottom: .5rem;
}
.main_content .title {
    text-transform: capitalize;
    /* font-size: 1.2rem; */
    font-size: calc(.8rem + 1vmin);
    font-weight: 700;
    color: #252525;
}
.dashboard_content_box .help_button_box {
    gap: 10px;
}
.content_section{
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
.aside_sidebar{
 padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #d2d2eb;
    border-radius: 0.5rem;
    height: fit-content;
}

.bg-purple{
    background-color:#730086;
    color:#fff;
}
.nav-link{
    color:#fff;
}
.is-invalid-checkbox{
    
    border-color: red!important;
    color:#252525!important;
}